/* write your styles here */
*{
    margin: 0;
    font-family:'Source Sans Pro', sans-serif;
    text-align: center;
   }
#d1{
background-color:#F26977;
width: 100%;
height: 40px;
border-bottom-style: solid;
border-bottom-color: white;
}
marquee{
    margin-top: 10px;
}
#logo{
  margin-top:0.5em;
  margin-left: 2em;
    width: 70px;
    height: 40px;
}
.flex-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4em ; 
}
.flex-container > div {
  width: auto;
}
.flex-container .heading,.para{
  margin-right: 8em;
margin-left: 10em;
}

div > .heading, .para{
  border-bottom: 1px solid #000; 
  
}
p{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  padding:2em; 
}
h1{
  margin-top: 1em;
  font-size: 4em;
  font-family: 'Anton', sans-serif;
}
header{
    background:#4C4C4C;
    display: flex;
   justify-content: space-between;
}
li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  nav{
    
      margin-top: 10px;
  }
  mark{
      font-weight: bold;
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  li a:hover {
    color: red;
  }
  section{ 
    display: block;
      height: auto;
      width: auto;
      
  }
  @media (max-width:600px){
    .flex-container {
      display: flex;
      flex-direction: column;
    }
  
    nav{
         background-image: url(mockups/Menu_48px.png) ;
        margin-right: 5%;
        width: 40px;
        height: 50px;
   
        }
      ul{
          display: none;
      }
}


main{ 
  
  height: auto;
  background: #F18D97 url(mockups/floral.png);
 
}
button{
  color: #F18D97;
  border: #000;
 padding: 1em 2em 1em 2em; 
  background-color: #000;
font-size: 25px;
font-family: cursive;
margin-top: 1em;
}
button:hover{
  background: rgba(0, 0, 0, 0.83);
}
#services {
  margin-top: 0;
  height: auto;
  background: url(mockups/floral.png);
  background-color: #EFECE7;
  padding-bottom: 2em;
}

#portfolio {
  margin-top: 0;
  height: auto;
  background: url(mockups/floral.png);
  background-color: #D6C6AC;
}
 #contact {
  
   display:grid;
   justify-content: center;
   height: auto;
  background: url(mockups/floral.png);
  background-color: #AFC7C7 ;
   
}

#services .svg-inline--fa {
  display: inline-block;
  font-size: 5em;
  height: 1em;
  overflow: visible;
}
#services figure:hover .svg-inline--fa{
  color: #F26977;
}

footer{
  background-color: #000;
  color: whitesmoke;
}
h2{
font-family: 'Pacifico', cursive;
padding-top: 1em;
padding-bottom: 1em;
}
#contact .svg-inline--fa {
border-style: solid;
font-size: 1.5em;
padding: 0.5em 0.5em 0.5em 0.5em;
margin: 0 0.5em 1em 0.5em;
border-radius: 4em;
}
#contact >ul .svg-inline--fa:hover{
  background-color: #000;
  color: #D6C6AC;
  }

  .svg-inline--fa{
    transition:  color 2s,background-color 1s;
  }
footer .svg-inline--fa {
  display: inline-block;
  margin: 0 5px;
  font-size: 1.5em;
}
footer:hover .svg-inline--fa{
  color: red;

}
.conatiner{
     min-height: 50px;
    margin: 70px auto 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.conatiner .box{
  position: relative;
  width: 300px;
  height: 280px;
  margin: 10px;
  display: inline-block;
}
.conatiner .box .imgbox{
  position: relative;
  overflow: hidden;
  border-radius: 13px;
}
.conatiner .box .imgbox img{
  max-width: 100%;
   transition: transform 2s;
   width: 300px;
  height: 273px;
}
.conatiner .box:hover .imgbox img{
transform: scale(1.2);
  
}
.conatiner .box  .details{
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  right: 0;
  background: rgba(0,0,0, .8);
  transform: scaleY(0);
  transition: transform 0.5s;
  border-radius: 13px;
}
.conatiner .box:hover  .details{
  transform: scaleY(1);
  cursor: pointer;

}
.conatiner .box  .details .content{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  color: white;
}

.conatiner .box  .details .content .svg-inline--fa{
  border-style: solid;
border-radius: 100%;
padding: 1em;
margin-left: 1.5em;
}
